# IntelliJ project files
.idea
*.iml
out
gen

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for VSCode
.history/

# Built VSCode Extensions
*.vsix

# Test
coverage

# Folders
dist
build
node_modules
.wwebjs_auth
.wwebjs_cache
uploads

# Environment
.env*
!.env.example